@import 'global';
@import 'vars';
@import 'reset';
@import 'fonts';
@import '../../node_modules/air-datepicker/air-datepicker.css';
@import '../../node_modules/choices.js/src/styles/choices.scss';

.header {
    &__nav {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 106px;
        height: 64px;
    }

    &__list {
        display: flex;

        margin-left: 230px;
        margin-right: 167px;
        gap: 100px;
    }

    &__item {
        :hover {
            color: #0fa958;
            transition: all 0.3s;
        }
    }

    &__link {
        color: #000000;
    }

    &__phone {
        color: #000000;
    }
}

.top {
    &__text {
    }

    &__title {
        margin-bottom: 20px;

        font-weight: 600;
        font-size: 48px;
        line-height: 65px;

        color: #0fa958;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
    }

    &__box {
        display: flex;
    }
}
.calendar {
    max-width: 386px;
    &__title {
        text-align: center;

        margin-top: 90px;
        margin-bottom: 30px;

        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }

    &__box {
        display: flex;
    }

    &__form {
    }

    &__hint {
        text-align: center;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #515060;
    }
    &__inputs {
        display: flex;

        gap: 10px;

        margin-bottom: 20px;
        margin-top: 10px;

        position: relative;

        cursor: pointer;

        &::before {
            content: url('../img/calendar.svg');
            position: absolute;
            top: 10px;
            left: 10px;
            pointer-events: none;
        }
    }

    &__input {
        display: flex;
        text-align: center;

        width: 202px;
        height: 60px;
        cursor: pointer;
        border: none;

        background: rgba(15, 169, 88, 0.1);
        border-radius: 10px;
        color: #0fa958;
    }
    &__watch {
        &::after {
            content: url('../img/drop-down.svg');
            position: absolute;
            right: 10px;
            top: 18px;
            pointer-events: none;
        }
        &::before {
            content: url('../img/watch.svg');
            position: absolute;
            top: 10px;
            left: 219px;
        }
    }
    &__btn {
        width: 386px;
        height: 57px;

        margin-top: 20px;

        background: #0fa958;
        border: none;
        border-radius: 10px;
        color: #fcfcfc;
    }
}
.container {
    &__box {
        display: flex;
        flex-direction: column;
    }
}
.car {
    margin-left: 52px;
    margin-top: -22px;
    &__img {
        width: 775px;
    }

    &__benefits {
    }

    &__benefits--list {
        display: flex;

        gap: 84px;
        margin-left: 106px;
        margin-top: 31px;
    }

    &__benefits--item {
        position: relative;
        &::before {
            content: url('../img/header/sun.svg');
            position: absolute;
            left: -34px;
        }
    }

    &__benefits--text {
    }
}

// calendar

.air-datepicker {
    background: #fcfcfc;
    box-shadow: 20px 20px 30px rgba(15, 169, 88, 0.1),
        inset 0px 4px 23px rgba(15, 169, 88, 0.1);
    border-radius: 10px;
    border: none;
}
.air-datepicker-cell.-disabled-:hover {
    color: default;
    background-color: white;
}

.-day-:hover {
    background: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-nav--action:hover {
    background-color: green;
}
.air-datepicker-nav {
    border-bottom: 1px solid rgba(15, 169, 88, 0.3);
}
.air-datepicker-body--day-name {
    color: black;
}
.air-datepicker-cell.-current- {
    color: #0fa958;
    font-size: large;
}
.air-datepicker-cell.-current-:hover {
    color: white;
    background: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-selected- {
    color: black;
    background-color: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-cell.-selected-:hover {
    color: black;
    background-color: #0fa958;
    color: #fcfcfc;
    background: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-disabled- {
    color: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-day-.-other-month- {
    color: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-selected-.-current- {
    background: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-cell.-focus- {
    background: rgba(15, 169, 88, 0.3);
    color: #0fa958;
}
.air-datepicker-nav--title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.air-datepicker-button {
    color: #0fa958;
}
.air-datepicker-button:hover {
    background: rgba(15, 169, 88, 0.3);
    color: #fcfcfc;
}

// choice

.choices__inner {
    width: 172px;
    height: 60px;
    padding: 0;
    background: rgba(15, 169, 88, 0.1);
    border-radius: 10px;
    color: #0fa958;
}
.choices__list--single {
    padding: 0;
}
.choices[data-type*='select-one']::after {
    border-style: none;
}
.choices__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 20px;
    padding-right: 6px;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
    color: black;
    background-color: white;
    width: 173px;
    box-shadow: 20px 20px 30px rgba(15, 169, 88, 0.1),
        inset 0px 4px 23px rgba(15, 169, 88, 0.1);
    border-radius: 10px;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #0fa958;
    color: white;
    border-radius: 10px;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    display: block;
    width: 101px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    height: 30px;
    padding: 0 !important;
    margin-left: 36px;
}

/* Стили скроллбара */
.choices__list--dropdown .choices__list::-webkit-scrollbar {
    width: 4px;
}

/* Стили полосы скроллбара */
.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
    overflow: hidden;
}

.choices__list--dropdown .choices__list:hover::-webkit-scrollbar-thumb {
    background-color: #0fa958;
}
