@import 'global';
@import 'vars';
@import 'reset';
@import 'fonts';
@import '../../node_modules/air-datepicker/air-datepicker.css';
@import '../../node_modules/choices.js/src/styles/choices.scss';

.header {
    &__nav {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 106px;
        height: 64px;
    }

    &__list {
        display: flex;

        margin-left: 230px;
        margin-right: 167px;
        gap: 100px;
    }

    &__item {
        :hover {
            color: #0fa958;
            transition: all 0.3s;
        }
    }

    &__link {
        color: black;
    }

    &__phone {
        color: black;
    }
}

.top {
    &__text {
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;

        color: #0fa958;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
    }

    &__box {
        display: flex;
    }

    &__car {
    }
}
.calendar {
    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }

    &__box {
        display: flex;
    }

    &__form {
    }

    &__hint {
    }
    &__input {
        background: rgba(15, 169, 88, 0.1);
        border-radius: 10px;

        color: #0fa958;
    }
    &__inputs {
        display: flex;
        gap: 10px;

        position: relative;

        cursor: pointer;

        &::before {
            content: url('../img/calendar.svg');
            position: absolute;
            top: 10px;
            left: 10px;
            pointer-events: none;
        }
    }

    &__input {
        display: flex;
        text-align: center;

        width: 202px;
        height: 60px;
        cursor: pointer;
        border: none;

        background: rgba(15, 169, 88, 0.1);
        border-radius: 10px;
        color: #0fa958;
    }

    &__input--date1 {
    }

    &__select--time {
    }

    &__input--date2 {
    }

    &__btn {
        width: 386px;
        height: 57px;

        background: #0fa958;
        border: none;
        border-radius: 10px;
        color: #fcfcfc;
    }
}
.container {
    &__box {
        display: flex;
        flex-direction: column;
    }
}
.benefits {
    &__list {
    }

    &__item {
    }

    &__text {
    }
}

// calendar

.air-datepicker {
    background: #fcfcfc;
    box-shadow: 20px 20px 30px rgba(15, 169, 88, 0.1),
        inset 0px 4px 23px rgba(15, 169, 88, 0.1);
    border-radius: 10px;
    border: none;
}
.air-datepicker-cell.-disabled-:hover {
    color: default;
    background-color: white;
}

.-day-:hover {
    background: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-nav--action:hover {
    background-color: green;
}
.air-datepicker-nav {
    border-bottom: 1px solid rgba(15, 169, 88, 0.3);
}
.air-datepicker-body--day-name {
    color: black;
}
.air-datepicker-cell.-current- {
    color: #0fa958;
    font-size: large;
}
.air-datepicker-cell.-current-:hover {
    color: white;
    background: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-selected- {
    color: black;
    background-color: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-cell.-selected-:hover {
    color: black;
    background-color: #0fa958;
    color: #fcfcfc;
    background: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-disabled- {
    color: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-day-.-other-month- {
    color: rgba(15, 169, 88, 0.3);
}
.air-datepicker-cell.-selected-.-current- {
    background: #0fa958;
    border-radius: 100px;
    color: #fcfcfc;
}
.air-datepicker-cell.-focus- {
    background: rgba(15, 169, 88, 0.3);
    color: #0fa958;
}
.air-datepicker-nav--title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.air-datepicker-button {
    color: #0fa958;
}
.air-datepicker-button:hover {
    background: rgba(15, 169, 88, 0.3);
    color: #fcfcfc;
}

// time
.choices {
    width: 500px;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
    color: red;
    background-color: blue;
}
